/.idea/

/site/

/docker-compose.env.local
/docker-compose.yml
/docker-compose.config.sh

/config/cli/php5/timezone.ini
/config/web/php5/timezone.ini

/data/mysql/*
/data/solr/*
!/data/mysql/.gitkeep
!/data/solr/.gitkeep

/logs/apache/*
/logs/cli/*
/logs/memcache/*
/logs/mysql/*
/logs/solr/*
/logs/varnish/*
!/logs/apache/.gitkeep
!/logs/cli/.gitkeep
!/logs/memcache/.gitkeep
!/logs/mysql/.gitkeep
!/logs/solr/.gitkeep
!/logs/varnish/.gitkeep
